'body .native-key-bindings':
  'ctrl-h': 'unset!'
'body':
  'ctrl-w': 'unset!'
  'alt-w': 'core:close'
  'alt-d': 'pane:split-right-and-copy-active-item'
  'alt-shift-l': 'window:focus-next-pane'
  'alt-shift-h': 'window:focus-previous-pane'
'.platform-win32, .platform-linux':
  'ctrl-h': 'find-and-replace:show-replace'
  'alt-j': 'core:move-down'
  'alt-k': 'core:move-up'
  'alt-h': 'pane:show-previous-item'
  'alt-l': 'pane:show-next-item'
  'ctrl-shift-d': 'find-and-replace:select-next'
  'ctrl-shift-r': 'symbols-view:toggle-file-symbols'
'atom-workspace atom-text-editor:not([mini])':
  'ctrl-shift-D': 'unset!'
'atom-text-editor.vim-mode:not(.insert-mode)':
  'ctrl-w ctrl-w': 'unset!'
  'ctrl-w c': 'unset!'
  'ctrl-w ctrl-c': 'unset!'
  'ctrl-w ctrl-q': 'unset!'
  'ctrl-w q': 'unset!'
'atom-text-editor.autocomplete-active':
  'ctrl-j': 'unset!'
  'ctrl-k': 'unset!'
  'up': 'unset!'
  'down': 'unset!'
